header.top-bar {
    padding: 5px;
    text-align: center;
}

h1.title {
    font-size: 4.5rem;
}

div.result {
    margin-bottom: 1.0rem;
    overflow: hidden;
}

div.img-box {
    position: relative;
    border: 1px solid skyblue;
}

canvas {
    width:auto !important;
    height:auto !important;
    max-width:100%;
    max-height:100%;
    
}

p.rarity {
    position: absolute;
    top: 0;
    left: 0;
    color: whitesmoke;
    background: skyblue;
    padding: 5px 10px;
    font-weight: bold;
    z-index: 0;
}

@media (min-width: 550px) {
    .one-fifth.columns {
        width: 16.8%;
        padding-top: 19.5%;
        position: relative;
    }
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.container {
    max-width: 100%;
}
