header {
  padding: 5px;
  display: flex;
  justify-content: center;
}

h1.title {
  font-size: 4.5rem;
}

div.result {
  margin-bottom: 1.5rem;
  overflow: hidden;
}

div.img-box {
  position: relative;
  box-shadow: 0px 0px 20px #999999;
  box-sizing: border-box;
}

canvas {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 100%;
}

.background-art {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -5;
}

p.rarity {
  position: absolute;
  top: 0;
  left: 0;
  color: whitesmoke;
  padding: 2px 2px;
  font-weight: bold;
  z-index: 0;
}

div.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.container {
  max-width: 100%;
}

#chara-input {
  overflow: auto;
}

p.character {
  text-align: center;
  margin-bottom: 0;
  border-top: 0.5rem solid gray;
}

footer {
  background-color: whitesmoke;
}

.site-map {
  padding: 20px;
}

.copyright {
  display: flex;
  justify-content: center;
}

@media (min-width: 550px) {

  .one-fifth.columns {
    width: 16.8%;
    padding-top: 19.5%;
    position: relative;
  }

}